html,body,section{
    width: 100%;
    min-width: 1280px;
    height: 100%;
    background-color: #555555;
    font-family: "Noto Sans SC";
    font-size: 16px;
    font-weight: 300;
    color: #D7D7D7;
}
/* 头部 */
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    min-width: 1280px;
    padding: 0 50px;
    background-color: rgba(51, 51, 51,0.7);
    box-shadow: 0 2px 8px 0 #fbfbfd14;
    color: #aaa;
}
header h1{
    width: 143px;
    height: 47px;
    margin-top: 7px;
    background: url('../static/images/logo.png') no-repeat center;
    background-size: 100%;
    cursor: pointer;
}
header ul{
   display: flex;
   justify-content: space-between;
   width: 835px;
   font-weight: 200;
}
header ul li{
   width: 80px;
   line-height: 54px;
   text-align: center;
   cursor: pointer;
}
header ul li:hover,.current_tab{
    color: #f2f2f2;
    font-weight: 400;
    border-bottom: solid 4px #70b603;
}
header div{
   width: 80px;
   line-height: 54px;
   text-align: center;
   font-weight: 200;
}
header div a{color: #aaa;}

/* 脚部 */
footer{
    width: 100%;
    height: 300px;
    padding-top: 1px;
    background-color: #333;
    font-weight: 200;
    color: #aaa;
}
footer div{
    width: 143px;
    height: 46px;
    margin: 30px auto 28px;
}
footer div>img{
    width: 100%;
}
.link{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 80px;
    margin: auto;
    padding: 0 190px;
    border-top: solid 1px #D7D7D7;
    border-bottom: solid 1px #D7D7D7;
}
.link li{
    padding-top: 15px;
}
.link li p{
    line-height: 25px;
}
.link li p:last-child{
    font-size: 14px;
}
.statement{
    margin-top: 65px;
    font-size: 14px;
}
.statement li{
   display: flex;
   justify-content: center;
}
.statement li:last-child{
    margin-top: 10px;
    font-size: 12px;
    color: #7F7F7F;
}
.statement li>p:first-child{
    padding-right: 15px;
   border-right: solid 1px #7F7F7F;
}
.statement li>p:last-child{
    padding-left: 15px;
}

/* 一级标题 */
.big-title{
    font-size: 40px;
    font-weight: 650;
    color: #F2F2F2;
    text-align: center;
    margin: 0 auto 40px;
}
/* 二级标题，带绿框的 */
.medium-title{
    /* width: 200px; */
    /* min-width: 200px; */
    max-width: 300px;
    margin: auto;
    font-weight: bold;
    font-size: 28px;
    color: #D7D7D7;
    text-align: center;
    border-left:3px solid  rgba(112, 182, 3, 1);
    border-right:3px solid  rgba(112, 182, 3, 1);
}
/* 三级标题，带灰框 */
.small-title{
    width: 175px;
    height: 35px;
    line-height: 28px;
    font-weight: 400;
    font-size: 20px;
    color: #D7D7D7;
    text-align: center;
    border:3px solid #737373;
    margin: 0 auto 30px;
}
/* 文本1 */
.text1{
    line-height: normal;
    color: #D7D7D7;
    text-align: center;
}
/* 文本2 */
.text2{
    line-height: normal;
    color: #D7D7D7;
    text-align: left;
}
/* 每个页面的banner */
.banners{
    height: 300px;
    position: relative;
    margin-top: 60px;
}
.banners p{
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    line-height: 300px;
    text-align: center;
    font-size: 40px;
    font-weight: 650;
    color: #F2F2F2;
    text-align: center;
}
.banners img{
    width: 100%;
    height: 100%;
}
/* 核心技术，应用领域，合作伙伴 */
.module{
    margin: auto;
    padding: 80px calc((100vw - 1200px)/2) 65px;
    border-top: 1px solid rgba(127, 127, 127, 1);
}
.module .module-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px 0 30px;
}
/* 一行有2个 */
.module .module-item2{
    width: 550px;
}
.module-item2{
    padding-bottom: 40px;
}
.module-item2 .module-content{
    display: flex;
    justify-content: space-between;
}
.module-item2>.module-content>img{
    width: 195px;
    height: 115px;
}
.module-item2>.module-content>p{
    width: 335px;
}
/* 一行有3个 */
.module .module-item3{
    width: 390px;
}
.module-item3 img{
    width: 370px;
    height: 200px;
}
/* 合作伙伴，合作医院的轮播 */
.cooperative-partner{
    margin-top: 70px;
}
.cooperative-partner span{
    width: 25%;
    height: 100%;
    padding: 10px;
    float: left;
}
.cooperative-partner span img{
    width: 100%;
    height: 100%;
}
.cooperative-partner .carousel-item{
    height: 170px;
}
/* 二级标题专用 */
.subtitle{
    width: 194px;
    height: 30px;
    margin: 0 auto 30px;
    text-align: center;
    line-height: 30px;
    border-left: solid 3px #70B603;
    border-right: solid 3px #70B603;
    font-size: 28px;
}