.home{
    color: #f2f2f2;
    font-weight: 400;
    border-bottom: solid 4px #70b603;
}
/* 大轮播 */
.banner{
    margin-top: 60px;
    height: 500px;
}
.banner .carousel-item{
    height: 500px;
}
.banner img{
    opacity:0.4;
    height:100% ;
}
.banner .carousel-caption{
    top:0;
    text-align: left;
}
.banner .banner-content{
    width: 800px;
    margin: auto;
    line-height: normal;
    font-weight: 400;
    color: #FFFFFF;
}
.banner .banner-btn{
    width: 100%;
    position: absolute;
    bottom: 55px;
    text-align: center;
}
/* 愿景，皮肤病AI辅助诊断方案 */
/* .vision{
    padding: 75px;
} */
/* 核心技术，应用领域，合作伙伴 */
/* .module{
    padding: 80px 0 65px;
    border-top: 1px solid rgba(127, 127, 127, 1);
} */
/* .module .module-box{
    display: flex;
    justify-content: space-between;
    padding: 70px 10% 30px;
} */
/* .module .module-item3{
    width: 390px;
} */

/* 合作伙伴的轮播 */
/* .cooperative-partner{
    margin-top: 70px;
}
.cooperative-partner span{
    width: 25%;
    height: 100%;
    padding: 10px;
    float: left;
}
.cooperative-partner span img{
    width: 100%;
    height: 100%;
}
.cooperative-partner .carousel-item{
    height: 170px;
} */