.home{
    color: #f2f2f2;
    font-weight: 600;
    border-bottom: solid 4px #70b603;
}
/* 大轮播 */
.banner{
    margin-top: 60px;
    height: 500px;
    background-color: rgba(31, 31, 31, 0.7);
}
.banner .carousel-item{
    height: 500px;
}
.banner img{
    opacity:0.4;
    height:100% ;
}
.banner .carousel-caption{
    top:40px;
    text-align: left;
}
.banner .banner-content{
    width: 800px;
    margin: auto;
    line-height: normal;
    font-weight: 200;
    color: #FFFFFF;
}
.banner .banner-btn{
    width: 100%;
    position: absolute;
    bottom: 55px;
    text-align: center;
}
