.product{
    color: #f2f2f2;
    font-weight: 400;
    border-bottom: solid 4px #70b603;
}
/* 皮肤病诊断全辅助 */
.auxiliary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:50px ;
}
.auxiliary img{
    width: 100px;
    height: 100px;
}
.auxiliary-item img{
    width: 470px;
    height: 275px;
}